body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
     
}
p{
    text-align: center;
}
.dathang{
    margin-bottom: 10px;
}
.maincenter{
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}
.sanpham1 a:hover{
    color: red;
}
.boxsp{
    margin-right: 30px ;
}
.sanpham1 img{
    height: 280px;
}
.sanpham1{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr ;
    padding-top:  30px;
    text-align: center;
    position: relative;
    width: 100px;
    padding-left: 250px;
    
}
.logo{
    background-color: black;
    color: white;
    height: 120px;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 700;
  }
  .logo img{
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    
  }
  .top{
    padding-left: 10px;
    padding-top: 10px;
  }
  .menu{
    text-align: center;
    padding-bottom: 210px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-size: 10px;
}
.right{
    text-align: right;
    padding-right: 20px;
    
}
.right a{
    text-decoration: none;
    color: gray;
    padding-left: 10px;
    font-size: 10px;
}
.logo{
    display: grid;
  /*   grid-template-columns: 0.5fr 1fr 0.5fr ; */
}
.maincenter{
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}
.main{
    padding-bottom: 70px;
    text-decoration: none;
}
.main a{
    text-decoration: none;
    color: gray;
}
.footer{
    background-color: black;
    color: white;
    height: 220px;
    font-size: 10px;
    padding: 50px;
}
.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}
.button{
    text-align: center;
    padding-top: 50px;
}
.button a{
    border: 1px solid gray;
    padding: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.button a:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.best {
    position: absolute;
    left: 0;
    right: 10px;
    width: 80px;
    height: 80px;
    background-image: url("../images/best-seller.png");
    background-size: 100%;
    z-index: 1;
    
}
