/* ĐƠN HÀNG TOP */
.border{
     display: flex;
     justify-content: center;
     padding-left: 200px;   
}
.border .ht{
     margin-right: 170px;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background-color:#FFF; 
     border: 1px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
}
.border .ht a{
     color: black;
     text-decoration: none;
     font-size: 30px;
}
.border p{
     margin-left: 10px;
}
.border,.donhang_bot p{
     margin:10px;    
}
.border .ht:hover{
     background: rgba(105, 202, 247, 0.966);
     border: 1px solid black;
}
/* DƠN HÀNG BOT */
.donhang_bot{
     display: flex;
     justify-content: center;
     flex-shrink: 0;
     background: #D9D9D9;
     background-size: 100%;
}
form{
     display: flex;
     flex-direction: column;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
form {
     display: flex;
     flex-direction: column;
     /* max-width: 300px;  */
     /* Điều chỉnh độ rộng tối đa của form nếu cần */
     margin: auto; /* Để canh giữa form */
     width: 770px;
     height: 377px;
 }
 
 form div{
     margin-bottom: 10px; /* Khoảng cách giữa các div chứa label và input */
     margin-left: 10px;
     display: flex;
     flex-direction: column;
 }
 
 label {
     margin-bottom: 5px; /* Khoảng cách giữa label và input */
 }
 
 form input {
     padding: 5px;
     width: 670px;
     height: 40px;
     box-sizing: border-box;
 }
/* ------------------------------ */
.thongtin_right_1{
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     margin-top: 39px;
     margin-left: 20px;
     padding-top: 5px;
     height: 370px;
}
.thongtin_sp{
     display: flex;
     border-bottom: 1px solid #f0f0f0;
     margin-bottom: 10px;
}
.thongtin_sp_1{
     margin-left: 120px;
}
.thongtin_sp_2{
     display: flex;
}
.donhang_bot p{
     color: #000;
     font-family: Space Grotesk;
     font-size: 15px;
     font-style: normal;
     font-weight:bold;
     line-height: normal;
}
.thongtin_sp_2_voucher{
     display: flex;
     justify-content: space-between;
}
.thongtin_sp_2_voucher div{
     margin-top: 10px;
     margin-right: 10px;
}

.thongtin_sp_2_voucher input[type="submit"]{
     background: #000;
     color: #FFF;
}
.thongtin_sp_2_vanchuyen{
     display: flex;
     justify-content: space-between;
     width: 100%;
}

.thongtin_sp_2_togthanhtoan{
     display: flex;
     justify-content: space-between;
     width: 100%;
     border-bottom: 1px solid #f0f0f0;
     text-align: center;
}

.thongtin_sp_2_thanhtien{
     display: flex;
     justify-content: space-between;
     width: 100%;
}

.thongtin_sp_2_datdon{
     background: #000;
     color: #FFF;
     margin: 10px;
     text-align: center;
     border-radius: 10px;
     width: 30%;
     height: 30px;
     margin-left: 230px;
}
.thongtin_sp_2_datdon:hover{
     background: #FFF;
     border: 1px solid black;
     color: black;
     
}